body {
    background-color: blueviolet;
}
h1 {
    text-align: center;
    margin: 50px 0 50px 0;
}
.counter,.timer {
    display: inline-block;
    padding: 0 100px 0 100px;
}
.counter{
    margin-left: 600px;
}

img {
    height: 60%;
    width: 60%;
    object-fit: contain;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* background-color: #9966ff; */
    height: 850px;
    width: 850px;
    margin: auto;
    user-select: none;
}
.card {
    border: 1px Solid black;
    margin: 5px;
    border-radius: .5rem;
    position: relative;
}

.face,.back {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
    position: absolute;
}
.back {
        background-color: #9966ff;
        border-radius: .5rem;
}

.starter {
    margin-top: 50px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    position: relative;
}

.main {
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
}

.return {
    margin-left: 10px;
}
.reset {
    margin-left: 1500px;
}
.begin {
    box-shadow: 10px 5px 5px #9966ff;
    border-radius: 1rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.toggleBack {
    visibility: hidden;
}

#spider {
    height: 50%;
    width: 50%;
    border: 2px solid #ccc;
}